<div class="bg">
  <div class="welcome">
  <img src="https://themusicbureau.com/wp-content/uploads/2018/03/background-2011744_1920.jpg" alt="stage">
  <div id="banner">Welcome to Stage Time</div>
  <%= link_to "Log in with Github!", '/auth/github', method: :post %>
  <%= link_to "Log in with Facebook!", '/auth/facebook', method: :post %>
  </div>
  <div class="info_box">
    <p>A site to connect people in the New York Open Mic scene</p>
    <p>All the information you need to find a space to connect with the right audience</p>
    <p>And tools to help you stay connected</p>
  </div>
</div>
