<div class="form_box">
  <div class="form_container">
    <h1><%= @title %></h1>
  </div>
</div>
<%= render partial: "form", locals: {support: @support, missed_connection: @missed_connection, lend_a_hand: @lend_a_hand} %>
