<div class="form_box">
  <div class="form_container">
    <h1><%= @instrument.name %></h1>
  </div>
</div>
<div class="form_box">
  <div class="form_container">
    <p><%= @instrument.description %></p>
    <p><%= @instrument.status %></p>
  </div>
</div>
